In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [49]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [3]:
# URL of page to be scraped
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

In [4]:
# Scrape page into soup
news_html = browser.html
news_soup = BeautifulSoup(news_html, 'html.parser')

In [5]:
slide = news_soup.select_one('ul.item_list li.slide')
news_title = slide.find("div", class_="content_title").get_text()
news_p = slide.find("div", class_="article_teaser_body").get_text()

In [6]:
print(news_title)
print(news_p)

8 Martian Postcards to Celebrate Curiosity's Landing Anniversary
The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.

### JPL Mars Space Images - Featured Image

In [10]:
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

In [11]:
# On the Site Click Button with Class Name full_image
# <button class="full_image">Full Image</button>
full_image_button = browser.find_by_id("full_image")
full_image_button.click()

In [12]:
# Find "More Info" Button and Click It
browser.is_element_present_by_text("more info", wait_time=1)
more_info_element = browser.links.find_by_partial_text("more info")
more_info_element.click()

In [13]:
# Parse Results HTML with BeautifulSoup
html = browser.html
image_soup = BeautifulSoup(html, "html.parser")

In [14]:
img_url = image_soup.select_one("figure.lede a img").get("src")
img_url

'/spaceimages/images/largesize/PIA18826_hires.jpg'

In [15]:
# Use Base URL to Create Absolute URL
img_url = f"https://www.jpl.nasa.gov{img_url}"
print(img_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18826_hires.jpg

### Mars Weather

In [39]:
twt_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twt_url)

In [40]:
# Parse Results HTML with BeautifulSoup
html = browser.html
weather_soup = BeautifulSoup(html, "html.parser")

In [44]:
tweets = weather_soup.find_all('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')
                                           
tweet_text = []
for tweet in tweets:
    tweet_text.append(tweet.text)

In [45]:
tweet_text

['Log in',
 'Sign up',
 'See new Tweets',
 'Follow',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 'Updates as avail from the REMS weather instrument aboard ',
 '.  Data credit: Centro deAstrobiologia, FMI, JPL/NASA, Not an official acct.',
 'Gale Crater, Mars',
 'Gale Crater, Mars',
 '53',
 'Following',
 '57.5K',
 'Followers',
 'Tweets',
 'Tweets & replies',
 'Media',
 'Likes',
 'Tweets',
 'Tweets & replies',
 'Media',
 'Likes',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 600 (2020-08-03) low -107.6ºC (-161.7ºF) high -5.7ºC (21.7ºF)\nwinds from the W at 5.6 m/s (12.5 mph) gusting to 15.2 m/s (34.0 mph)\npressure at 7.90 hPa',
 '2',
 '9',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 599 (2020-08-02) low -91.8ºC (-133.2ºF) high -42.6ºC (-44.8ºF)\nwinds from the WNW at 5.1 m/s (11.5 mph) gusting to 15.6 m/s (34.8 mph)\npressure at 7.90 hPa',
 '12',
 '23',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 598 (2020-08-01) low -91.6ºC (-132.9ºF) high -15.1ºC (4.8ºF)\nwinds from the WNW at 7.1 m/s (15.8 mph) gusting to 19.2 m/s (43.0 mph)\npressure at 7.90 hPa',
 '13',
 '26',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 597 (2020-08-01) low -91.0ºC (-131.8ºF) high -16.9ºC (1.6ºF)\nwinds from the WNW at 8.0 m/s (17.9 mph) gusting to 20.2 m/s (45.1 mph)\npressure at 7.90 hPa',
 '6',
 '18',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 596 (2020-07-30) low -90.7ºC (-131.3ºF) high -15.4ºC (4.3ºF)\nwinds from the WNW at 7.7 m/s (17.3 mph) gusting to 19.9 m/s (44.6 mph)\npressure at 7.90 hPa',
 '4',
 '27',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 595 (2020-07-29) low -91.9ºC (-133.5ºF) high -12.9ºC (8.7ºF)\nwinds from the WNW at 7.0 m/s (15.6 mph) gusting to 18.2 m/s (40.7 mph)\npressure at 7.90 hPa',
 '1',
 '7',
 '25',
 'Mars Weather',
 'Mars Weather',
 'ESA Operations',
 'ESA Operations',
 '@esaoperations',
 '·',
 'A mysteriously long, thin cloud has again appeared over the 20-km high Arsia Mons volcano on Mars, revealed in images captured by the ',
 ' on ',
 '\n',
 'GIF',
 '37',
 '516',
 '1.2K',
 'Show this thread']

In [46]:
weather_tweets = []
for text in tweet_text:
    if 'InSight sol' in text:
        weather_tweets.append(text)

mars_weather = weather_tweets[0]
print(mars_weather)

InSight sol 600 (2020-08-03) low -107.6ºC (-161.7ºF) high -5.7ºC (21.7ºF)
winds from the W at 5.6 m/s (12.5 mph) gusting to 15.2 m/s (34.0 mph)
pressure at 7.90 hPa

### Mars Facts

In [47]:
# Visit the Mars Facts Site Using Pandas to Read
mars_df = pd.read_html("https://space-facts.com/mars/")[0]
print(mars_df)
mars_df.columns=["Description", "Value"]
mars_df.set_index("Description", inplace=True)
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [54]:
print(mars_df.to_html(classes="table table-striped"))

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [50]:
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hem_url)

In [52]:
hemisphere_image_urls = []

# Get a List of All the Hemispheres
links = browser.find_by_css("a.product-item h3")
for item in range(len(links)):
    hemisphere = {}
    
    # Find Element on Each Loop to Avoid a Stale Element Exception
    browser.find_by_css("a.product-item h3")[item].click()
    
    # Find Sample Image Anchor Tag & Extract <href>
    sample_element = browser.links.find_by_text("Sample").first
    hemisphere["img_url"] = sample_element["href"]
    
    # Get Hemisphere Title
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Append Hemisphere Object to List
    hemisphere_image_urls.append(hemisphere)
    
    # Navigate Backwards
    browser.back()

In [53]:
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]