In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests
import time

In [13]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [4]:
# URL of page to be scraped
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

In [5]:
# Scrape page into soup
news_html = browser.html
news_soup = BeautifulSoup(news_html, 'html.parser')

In [7]:
slide = news_soup.select_one('ul.item_list li.slide')
news_title = slide.find("div", class_="content_title").get_text()
news_p = slide.find("div", class_="article_teaser_body").get_text()

In [8]:
print(news_title)
print(news_p)

8 Martian Postcards to Celebrate Curiosity's Landing Anniversary
The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.

### JPL Mars Space Images - Featured Image

In [10]:
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

In [11]:
# Scrape the url for the featured image for JPL Mars Space Images
# HTML object
jpl_html = browser.html
# Parse HTML with Beautiful Soup
jpl_soup = BeautifulSoup(jpl_html, 'html.parser')

image_url = jpl_soup.find('a', class_='button fancybox')['data-fancybox-href']

#concatenate shortened url to image with website url
#jpl_ite = 'https://www.jpl.nasa.gov'
featured_image_url = 'https://www.jpl.nasa.gov' + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16919_ip.jpg

### Mars Weather

In [14]:
twt_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twt_url)

In [15]:
# HTML object
twt_html = browser.html
# Parse HTML with Beautiful Soup
twt_soup = BeautifulSoup(twt_html, 'html.parser')

tweets = twt_soup.find_all('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')
                                           
tweet_text = []
for tweet in tweets:
    tweet_text.append(tweet.text)

In [16]:
tweet_text

['Log in',
 'Sign up',
 'See new Tweets',
 'Follow',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 'Updates as avail from the REMS weather instrument aboard ',
 '.  Data credit: Centro deAstrobiologia, FMI, JPL/NASA, Not an official acct.',
 'Gale Crater, Mars',
 'Gale Crater, Mars',
 '53',
 'Following',
 '57.5K',
 'Followers',
 'Tweets',
 'Tweets & replies',
 'Media',
 'Likes',
 'Tweets',
 'Tweets & replies',
 'Media',
 'Likes',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 599 (2020-08-02) low -91.8ºC (-133.2ºF) high -42.6ºC (-44.8ºF)\nwinds from the WNW at 5.1 m/s (11.5 mph) gusting to 15.6 m/s (34.8 mph)\npressure at 7.90 hPa',
 '11',
 '21',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 598 (2020-08-01) low -91.6ºC (-132.9ºF) high -15.1ºC (4.8ºF)\nwinds from the WNW at 7.1 m/s (15.8 mph) gusting to 19.2 m/s (43.0 mph)\npressure at 7.90 hPa',
 '13',
 '25',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 597 (2020-08-01) low -91.0ºC (-131.8ºF) high -16.9ºC (1.6ºF)\nwinds from the WNW at 8.0 m/s (17.9 mph) gusting to 20.2 m/s (45.1 mph)\npressure at 7.90 hPa',
 '6',
 '18',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 596 (2020-07-30) low -90.7ºC (-131.3ºF) high -15.4ºC (4.3ºF)\nwinds from the WNW at 7.7 m/s (17.3 mph) gusting to 19.9 m/s (44.6 mph)\npressure at 7.90 hPa',
 '4',
 '27',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 595 (2020-07-29) low -91.9ºC (-133.5ºF) high -12.9ºC (8.7ºF)\nwinds from the WNW at 7.0 m/s (15.6 mph) gusting to 18.2 m/s (40.7 mph)\npressure at 7.90 hPa',
 '1',
 '7',
 '25',
 'Mars Weather',
 'Mars Weather',
 'ESA Operations',
 'ESA Operations',
 '@esaoperations',
 '·',
 'A mysteriously long, thin cloud has again appeared over the 20-km high Arsia Mons volcano on Mars, revealed in images captured by the ',
 ' on ',
 '\n',
 'GIF',
 '37',
 '515',
 '1.2K',
 'Show this thread',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 594 (2020-07-28) low -91.8ºC (-133.2ºF) high -16.6ºC (2.2ºF)\nwinds from the WNW at 8.0 m/s (17.8 mph) gusting to 20.7 m/s (46.4 mph)\npressure at 7.90 hPa',
 '15',
 '24',
 'Mars Weather',
 'Mars Weather',
 '@MarsWxReport',
 '·',
 'InSight sol 593 (2020-07-27) low -91.8ºC (-133.2ºF) high -16.0ºC (3.3ºF)\nwinds from the WNW at 6.5 m/s (14.4 mph) gusting to 18.8 m/s (42.1 mph)\npressure at 7.90 hPa',
 '5',
 '21']

In [17]:
weather_tweets = []
for text in tweet_text:
    if 'InSight sol' in text:
        weather_tweets.append(text)

mars_weather = weather_tweets[0]
print(mars_weather)

InSight sol 599 (2020-08-02) low -91.8ºC (-133.2ºF) high -42.6ºC (-44.8ºF)
winds from the WNW at 5.1 m/s (11.5 mph) gusting to 15.6 m/s (34.8 mph)
pressure at 7.90 hPa

### Mars Facts

In [18]:
mars_facts_url = 'https://space-facts.com/mars/'

mars_tables = pd.read_html(mars_facts_url)
mars_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [19]:
mars_df = mars_tables[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
mars_df.columns = ['fields', 'values']
mars_df

                 fields                         values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [21]:
mars_facts_html = mars_df.to_html(index=False, justify='left')
print(mars_facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th>fields</th>
      <th>values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [34]:
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hem_url)

In [35]:
hem_html = browser.html

hem_soup = BeautifulSoup(hem_html, 'html.parser')

hemisphere_image_urls = []
main_url = 'https://astrogeology.usgs.gov'


links = hem_soup.find_all('a', class_='itemLink product-item')
for link in links:
    heading = link.find('h3')
    if heading != None:
        text = heading.text
        browser.click_link_by_partial_text(text)
        time.sleep(4)
        temp_html = browser.html
        temp_soup = BeautifulSoup(temp_html, 'html.parser')
        img = temp_soup.find('img', class_='wide-image')
        short_url = img['src']
        img_url = main_url + short_url
        hemi_dict = {}
        hemi_dict['title'] = text
        hemi_dict['img_url'] = img_url
        hemisphere_image_urls.append(hemi_dict)
        browser.back()

In [33]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]